.information-section {
  padding: 4rem 0;
  background-color: rgba(86, 86, 86, 0.1); /* Light dark layer */
  color: #333;
}

.information-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: flex-start;
}

.image-container {
  flex: 0 0 50%;
  max-width: 50%;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.text-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 2rem;
  padding-top: 2rem;
}

.title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: #DCAB0F;
  font-weight: bold;
  font-size: 2rem; /* Increased font size */
}

.description {
  line-height: 1.6;
  color: #333;
  text-align: justify;
}

@media (max-width: 768px) {
  .information-content {
    flex-direction: column;
  }

  .image-container,
  .text-container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .text-container {
    padding-left: 0;
    padding-top: 1rem;
  }

  .title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 0.9rem;
  }
}