.popularTours {
  margin-top: 2rem;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.toursList {
  list-style-type: none;
  padding: 0;
}

.tourItem {
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.tourLink {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.tourImageContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  flex-shrink: 0; /* Prevent the image from shrinking */
}

.tourImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tourInfo {
  padding: 0.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tourTitle {
  margin: 0 0 0.5rem 0;
  font-size: 1rem;
  color: #333;
}

.tourDestination {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  color: #666;
}

.tourDestination svg {
  margin-right: 0.25rem;
}

@media (min-width: 769px) {
  .tourImageContainer {
    width: 120px; /* Slightly larger for desktop */
    height: 120px;
  }

  .tourInfo {
    padding: 1rem;
  }

  .tourTitle {
    font-size: 1.1rem;
  }

  .tourDestination {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .tourLink {
    flex-direction: column;
  }

  .tourImageContainer {
    width: 100%;
    height: 150px;
  }
}